.goods {
    padding-top: 4px;
    padding-bottom: 12px;
    background-color: #f5f5f5;
    position: relative;
    min-width: 1226px;
    /* height: 2000px; */
}

.poster {
    /* position: absolute; */
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}

.goods-show {
    margin-bottom: 8px;
    height: 686px;
    position: relative;
}

.goods-show-header {
    position: relative;
    height: 58px;
}

.goods-show-header .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.goods-show .more {
    position: absolute;
    top: 0;
    right: 0;
}

.more-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.more-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    transition: border .3s;
    cursor: pointer;
}

.more-list>a {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    transition: border .3s;
    cursor: pointer;
}

.more-list>a:hover {
    color: #ff6700 !important;
    border-bottom: 2px solid #ff6700;
}

.more-active {
    color: #ff6700 !important;
    border-bottom: 2px solid #ff6700;
}

.box1 {
    width: 234px;
    height: 628px;
    float: left;
    min-height: 1px;
}

.box1-list {
    height: 614px;
    margin: 0 0 -14px -14px;
    padding: 0;
    list-style-type: none;
}

.box1-list li {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    /* height: 300px; */
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear;
}

.box1-list li img {
    height: 614px;
    width: 234px;
    overflow: hidden;
}

.item-p-l {
    height: 614px;
}

.item-p-m {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 0;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}


.item-p-m>a>img {
    height: 300px;
}

.box2 {
    float: left;
    margin-left: 14px;
    min-height: 1px;
    width: 978px;
    /* background-color: red; */
}

.box2-list {
    height: 614px;
    list-style-type: none;
    width: 992px;
    margin: 0 0 -14px -14px;
    overflow: hidden;
}

.item-m {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.item-m a {
    display: block;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
}



.item-m img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
}

.item-m .item-title {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px 2px;
}

.item-m .desc {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.item-m .price {
    text-align: center;
    color: #ff6700;
    margin: 0 10px 14px;
}

.item-s {
    height: 93px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.item-s img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.item-s .item-title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}

.item-more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.item-more-title {
    display: block;
    font-size: 12px;
    color: #757575;
}

.item-s i {
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
    color: #ff6700;
}


.goods li:hover {
    box-shadow: 3px 3px 50px #d1cfcf;
}